<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/demons">Demons</a></li>
    <li><a href="/levels">Levels</a></li>
    <li><a href="/mods">Mods</a></li>
</ul>