<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Level</title>
</head>

<body>
    <h1>Add New Level</h1>
    <% if (locals.errorMessage) { %>
        <p>
            <%= locals.errorMessage %>
        </p>
        <% } %>
            <form action="/levels" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="<%= levels.title %>" required>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea id="description" name="description" required>
                        <%= levels.description %>
                    </textarea>
                </div>
                <div>
                    <label for="coverImage">Cover Image</label>
                    <img id="preview" src="" alt="Image Preview" />
                    <input type="file" id="coverimage" name="coverImage">
                </div>
                <div>
                    <button type="submit">Add Level</button>
                </div>
            </form>
</body>

</html>
